
/* ==========================================================================
   my custom styles
   ========================================================================== */

/* helper styles */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.relative-container {
    position: relative;
}

/* /helper styles */

/* bootstrap overrides */

.hero-unit {
	padding: 35px 40px;
	background-color: #fdfd81;
}

.hero-unit h1 {
	font-size: 49px;
}

legend {
	border-bottom: 1px solid #795a45;
}

legend + .control-group {
	margin-top: 0;
}

.form-horizontal .control-label {
	width: 50%;
}

.form-horizontal .controls {
	margin-left: 55%;
}

/* /bootstrap overrides */

/* general page styles */

html {

}

body {
    -webkit-font-smoothing: antialiased;
    margin-top: 2%;
}

h1 {
	font-family: 'Share Tech Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
	font-family: monospace;
}

.hero-unit {
	border: 1px solid #e3e3e3;
}

.income-group .well {
	text-align: center;
	background-color: #91b764;

	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

.income-group .well.current {
	background-color: #ffAd5f;
}

.income-group .well > input {
	margin-bottom: 1em;
}

.income-group input[type="number"] {
	width: 84%;
}

.income-group input[disabled] {
	cursor: pointer;
}

.well .control-group:last-child {
	margin-bottom: 0;
}

.income-group .control-label {
	width: 50%;
}

.income-group .controls {
	margin-left: 54%;
	text-align: left;
}

/* dev */



/* /dev */

/* /general page styles */